//Font
$fontFamily: "Josefin Sans", sans-serif;
$fontSize: 13px;
$bold: 700;
$light: 400;
$TextShadow: 2px 4px 5px rgba(0, 0, 0, 0.25);

//Color
$pink: #ee368c;
$black: #000000;
$white: #ffffff;
$dark-gray: #323232;
$gray: #8c8d8e;
$light-gray: #f0f0f0;


//Mixin Style
@mixin HeadSize() {
  font-size: 60px;

  @media (max-width: 767px) {
    font-size: 40px;
  }
}

@mixin TopicSize() {
  font-size: 18px;

  @media (max-width: 767px) {
    font-size: 15px;
  }
}

@mixin TitleSize() {
  font-size: 30px;

  @media (max-width: 767px) {
    font-size: 20px;
  }
}

@mixin ButtonTemp() {
  border: 2px solid $pink;
  text-transform: uppercase;
  font-weight: $bold;
  font-size: $fontSize;
  color: $pink;
  padding: 8px 15px;
  border-radius: 1em;
  background-color: $white;
  letter-spacing: 0.1em;
  &:hover {
    background-color: $pink;
    color: $white;
    transition: background-color 0.5s;
  }
}

//Base Style
body {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $black;
  a{
    font-weight: $bold;
    color: $pink;
    &:hover{
      color: $gray;
    }
  }
  p{
    font-size: $fontSize;
    line-height: 2em;
    margin: 0.5em 0;
  }
}


//Mixin Media Queries
@mixin media-query($breakpoint) {
  @if $breakpoint == "xsmobile" {
    @media (max-width: 375px) {
      @content;
    }
  } @else if $breakpoint == "mobile" {
    @media (max-width: 767px) {
      $HeadSize-pc: 40px;
      $fontSize: 10px;
      @content;
    }
  } @else if $breakpoint == "tablet" {
    @media (max-width: 1023px) {
      @content;
    }
  } @else if $breakpoint == "desktop" {
    @media (min-width: 1024px) {
      @content;
    }
  }
}


// body{
//    @include media-query(mobile){      
//    }
// }
