body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  color: #000000; }
  body a {
    font-weight: 700;
    color: #ee368c; }
    body a:hover {
      color: #8c8d8e; }

.main__nav {
  background-color: #ffffff;
  transition: background-color 0.5s; }
  .main__nav .navbar-end {
    margin-right: 1em; }
  .main__nav .navbar-burger:hover {
    background-color: transparent; }
  .main__nav .navbar-item,
  .main__nav .navbar-link {
    text-transform: uppercase;
    font-weight: 700;
    color: #000000; }
    .main__nav .navbar-item:hover,
    .main__nav .navbar-link:hover {
      background-color: transparent !important;
      color: #ee368c;
      transition: color 0.2s; }
    .main__nav .navbar-item::after,
    .main__nav .navbar-link::after {
      border-color: #000000;
      margin-top: -0.5em;
      right: 1.5em; }
    .main__nav .navbar-item:hover::after,
    .main__nav .navbar-link:hover::after {
      border-color: #ee368c;
      transition: border-color 0.2s; }
    .main__nav .navbar-item img,
    .main__nav .navbar-link img {
      max-height: 5rem;
      width: 135px;
      margin-left: 2rem; }
    .main__nav .navbar-item .button,
    .main__nav .navbar-link .button {
      border: 2px solid #ee368c;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
      color: #ee368c;
      padding: 0px 10px;
      background-color: #ffffff; }
      .main__nav .navbar-item .button:hover,
      .main__nav .navbar-link .button:hover {
        background-color: #ee368c;
        color: #ffffff;
        transition: background-color 0.5s; }
    .main__nav .navbar-item .navbar-dropdown .navbar-item,
    .main__nav .navbar-link .navbar-dropdown .navbar-item {
      text-transform: uppercase;
      font-weight: 400;
      color: #000000;
      font-size: 13px; }
      .main__nav .navbar-item .navbar-dropdown .navbar-item:hover,
      .main__nav .navbar-link .navbar-dropdown .navbar-item:hover {
        background-color: transparent !important;
        color: #ee368c;
        transition: color 0.2s; }
    .main__nav .navbar-item .nav__group,
    .main__nav .navbar-link .nav__group {
      margin-bottom: 5px;
      line-height: 15px; }
      .main__nav .navbar-item .nav__group:first-child,
      .main__nav .navbar-link .nav__group:first-child {
        border-right: 2px solid #ee368c;
        padding-right: 0.5em; }
      .main__nav .navbar-item .nav__group:nth-last-child(2),
      .main__nav .navbar-link .nav__group:nth-last-child(2) {
        padding-left: 0.5em;
        margin-right: 1em; }
      .main__nav .navbar-item .nav__group .nav__icon,
      .main__nav .navbar-link .nav__group .nav__icon {
        color: #ee368c;
        padding: calc(0.3em - 1px);
        white-space: nowrap;
        font-size: 20px; }
        .main__nav .navbar-item .nav__group .nav__icon:hover,
        .main__nav .navbar-link .nav__group .nav__icon:hover {
          background-color: transparent;
          color: #000000;
          transition: color 0.2s; }
  @media (max-width: 1023px) {
    .main__nav {
      height: auto; }
      .main__nav .navbar-end {
        margin-right: 0; }
      .main__nav .navbar-item img,
      .main__nav .navbar-link img {
        margin-left: 0rem; } }

.nav__scrolled {
  background-color: #ffffff; }

.main_footer {
  background-color: #f0f0f0;
  color: #8c8d8e;
  padding-bottom: 2em; }
  .main_footer h3 {
    font-weight: 700;
    color: #ee368c;
    font-size: 18px; }
  .main_footer p strong {
    color: #8c8d8e; }
  .main_footer .is-divider {
    background-color: #ee368c;
    height: 1px; }
  .main_footer .footer_link {
    margin-top: 3em; }
    .main_footer .footer_link a {
      font-size: 13px;
      margin: 0px 20px;
      display: inline-block;
      line-height: 30px; }
  @media (max-width: 767px) {
    .main_footer p {
      text-align: left; }
    .main_footer .footer_link {
      text-align: left; }
      .main_footer .footer_link a {
        display: block;
        margin: 0; } }

.swiper__herobanner .swiper-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center; }
  .swiper__herobanner .swiper-slide::before {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 70%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    content: ""; }
  .swiper__herobanner .swiper-slide .swiper__content {
    z-index: 20;
    margin: 0px 20px; }
    .swiper__herobanner .swiper-slide .swiper__content h2 {
      font-size: 60px;
      color: #ffffff;
      font-weight: 700;
      text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25); }
    .swiper__herobanner .swiper-slide .swiper__content p {
      font-size: 30px;
      color: #ffffff;
      font-weight: 700;
      text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25); }

.swiper__herobanner .swiper-pagination-bullet {
  background: #ee368c;
  margin: 0 2em;
  width: 10px;
  height: 10px; }

/*# sourceMappingURL=style.css.map */
