body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  color: #000000; }
  body a {
    font-weight: 700;
    color: #ee368c; }
    body a:hover {
      color: #8c8d8e; }
  body p {
    font-size: 13px;
    line-height: 2em;
    margin: 0.5em 0; }

.main__nav {
  background-color: #ffffff;
  transition: background-color 0.5s; }
  .main__nav .navbar-end {
    margin-right: 1em; }
  .main__nav .navbar-burger:hover {
    background-color: transparent; }
  .main__nav .navbar-item,
  .main__nav .navbar-link {
    text-transform: uppercase;
    font-weight: 700;
    color: #000000; }
    .main__nav .navbar-item:hover,
    .main__nav .navbar-link:hover {
      background-color: transparent !important;
      color: #ee368c;
      transition: color 0.2s; }
    .main__nav .navbar-item::after,
    .main__nav .navbar-link::after {
      border-color: #000000;
      margin-top: -0.5em;
      right: 1.5em; }
    .main__nav .navbar-item:hover::after,
    .main__nav .navbar-link:hover::after {
      border-color: #ee368c;
      transition: border-color 0.2s; }
    .main__nav .navbar-item img,
    .main__nav .navbar-link img {
      max-height: 5rem;
      width: 135px;
      margin-left: 2rem; }
    .main__nav .navbar-item .button,
    .main__nav .navbar-link .button {
      border: 2px solid #ee368c;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
      color: #ee368c;
      padding: 8px 15px;
      border-radius: 1em;
      background-color: #ffffff;
      letter-spacing: 0.1em; }
      .main__nav .navbar-item .button:hover,
      .main__nav .navbar-link .button:hover {
        background-color: #ee368c;
        color: #ffffff;
        transition: background-color 0.5s; }
    .main__nav .navbar-item .navbar-dropdown .navbar-item,
    .main__nav .navbar-link .navbar-dropdown .navbar-item {
      text-transform: uppercase;
      font-weight: 400;
      color: #000000;
      font-size: 13px; }
      .main__nav .navbar-item .navbar-dropdown .navbar-item:hover,
      .main__nav .navbar-link .navbar-dropdown .navbar-item:hover {
        background-color: transparent !important;
        color: #ee368c;
        transition: color 0.2s; }
    .main__nav .navbar-item .nav__group,
    .main__nav .navbar-link .nav__group {
      margin-bottom: 5px;
      line-height: 15px; }
      .main__nav .navbar-item .nav__group:first-child,
      .main__nav .navbar-link .nav__group:first-child {
        border-right: 2px solid #ee368c;
        padding-right: 0.5em; }
      .main__nav .navbar-item .nav__group:nth-last-child(2),
      .main__nav .navbar-link .nav__group:nth-last-child(2) {
        padding-left: 0.5em;
        margin-right: 1em; }
      .main__nav .navbar-item .nav__group .nav__icon,
      .main__nav .navbar-link .nav__group .nav__icon {
        color: #ee368c;
        padding: calc(0.3em - 1px);
        white-space: nowrap;
        font-size: 20px; }
        .main__nav .navbar-item .nav__group .nav__icon:hover,
        .main__nav .navbar-link .nav__group .nav__icon:hover {
          background-color: transparent;
          color: #000000;
          transition: color 0.2s; }
  @media (max-width: 1023px) {
    .main__nav {
      height: auto; }
      .main__nav .navbar-end {
        margin-right: 0; }
      .main__nav .navbar-item img,
      .main__nav .navbar-link img {
        margin-left: 0rem; } }

.nav__scrolled {
  background-color: #ffffff; }

.main_footer {
  background-color: #f0f0f0;
  color: #8c8d8e;
  padding-bottom: 2em;
  background-image: url("/assets/img/bg-footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom; }
  .main_footer h3 {
    font-weight: 700;
    color: #ee368c;
    font-size: 18px; }
    @media (max-width: 767px) {
      .main_footer h3 {
        font-size: 15px; } }
  .main_footer p strong {
    color: #8c8d8e; }
  .main_footer .is-divider {
    background-color: #ee368c;
    height: 1px; }
  .main_footer .footer_link {
    margin-top: 3em; }
    .main_footer .footer_link a {
      font-size: 13px;
      margin: 0px 20px;
      display: inline-block;
      line-height: 30px; }
  @media (max-width: 767px) {
    .main_footer p {
      text-align: left; }
    .main_footer .footer_link {
      text-align: left; }
      .main_footer .footer_link a {
        display: block;
        margin: 0; } }

.swiper__herobanner .swiper-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center; }
  .swiper__herobanner .swiper-slide::before {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 70%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    content: ""; }
  .swiper__herobanner .swiper-slide .swiper__content {
    z-index: 20;
    margin: 0px 4em; }
    .swiper__herobanner .swiper-slide .swiper__content h2 {
      font-size: 60px;
      color: #ffffff;
      font-weight: 700;
      text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
      text-transform: uppercase; }
      @media (max-width: 767px) {
        .swiper__herobanner .swiper-slide .swiper__content h2 {
          font-size: 40px; } }
    .swiper__herobanner .swiper-slide .swiper__content p {
      font-size: 30px;
      color: #ffffff;
      font-weight: 700;
      text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
      margin: 0px;
      text-transform: uppercase; }
      @media (max-width: 767px) {
        .swiper__herobanner .swiper-slide .swiper__content p {
          font-size: 20px; } }
    @media (max-width: 767px) {
      .swiper__herobanner .swiper-slide .swiper__content {
        margin: 0px 20px; }
        .swiper__herobanner .swiper-slide .swiper__content h2 {
          font-size: 60px; } }
    @media (max-width: 767px) and (max-width: 767px) {
      .swiper__herobanner .swiper-slide .swiper__content h2 {
        font-size: 40px; } }
    @media (max-width: 767px) {
        .swiper__herobanner .swiper-slide .swiper__content p {
          font-size: 30px; } }
    @media (max-width: 767px) and (max-width: 767px) {
      .swiper__herobanner .swiper-slide .swiper__content p {
        font-size: 20px; } }

.swiper__herobanner .swiper-pagination-bullet {
  background: #ee368c;
  margin: 0 2em;
  width: 10px;
  height: 10px; }

.sec__invWhisky {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .sec__invWhisky .blk__invWhisky {
    max-width: 500px; }
    .sec__invWhisky .blk__invWhisky h1 {
      font-size: 30px;
      font-weight: 700;
      color: #ee368c; }
      @media (max-width: 767px) {
        .sec__invWhisky .blk__invWhisky h1 {
          font-size: 20px; } }
    .sec__invWhisky .blk__invWhisky p {
      color: #ffffff; }
    .sec__invWhisky .blk__invWhisky .btn__invWhisky {
      margin: 2em 0; }
      .sec__invWhisky .blk__invWhisky .btn__invWhisky a {
        border: 2px solid #ee368c;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        color: #ee368c;
        padding: 8px 15px;
        border-radius: 1em;
        background-color: #ffffff;
        letter-spacing: 0.1em;
        background-color: black;
        border: 2px solid #ffffff;
        color: #ffffff; }
        .sec__invWhisky .blk__invWhisky .btn__invWhisky a:hover {
          background-color: #ee368c;
          color: #ffffff;
          transition: background-color 0.5s; }
        .sec__invWhisky .blk__invWhisky .btn__invWhisky a:hover {
          background-color: #323232; }
  @media (max-width: 767px) {
    .sec__invWhisky {
      background-position: revert; } }

.sec__caskbottles {
  background-image: url("/assets/img/bg-single-cask.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom; }
  .sec__caskbottles .blk__caskbottles {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .sec__caskbottles .blk__caskbottles .ele__caskbottles {
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-around;
      display: flex; }
      .sec__caskbottles .blk__caskbottles .ele__caskbottles img {
        animation-duration: 1s;
        animation-timing-function: ease-in-out; }
        .sec__caskbottles .blk__caskbottles .ele__caskbottles img:nth-of-type(1) {
          z-index: 1;
          margin-right: -60px;
          height: 340px; }
        .sec__caskbottles .blk__caskbottles .ele__caskbottles img:nth-of-type(2) {
          z-index: 2;
          margin-right: -50px;
          height: 380px; }
        .sec__caskbottles .blk__caskbottles .ele__caskbottles img:nth-of-type(3) {
          z-index: 3;
          height: 420px; }
        .sec__caskbottles .blk__caskbottles .ele__caskbottles img:nth-of-type(4) {
          z-index: 2;
          margin-left: -50px;
          height: 380px; }
        .sec__caskbottles .blk__caskbottles .ele__caskbottles img:nth-of-type(5) {
          z-index: 1;
          margin-left: -60px;
          height: 340px; }
  .sec__caskbottles .caskbottles__content h2 {
    font-size: 30px;
    font-weight: 700;
    color: #ee368c;
    padding-bottom: 1em; }
    @media (max-width: 767px) {
      .sec__caskbottles .caskbottles__content h2 {
        font-size: 20px; } }
  .sec__caskbottles .caskbottles__content .caskbottles__detail {
    margin-top: 3em;
    margin-left: 2em; }
    .sec__caskbottles .caskbottles__content .caskbottles__detail .btn__caskbottles {
      margin-top: 2em; }
      .sec__caskbottles .caskbottles__content .caskbottles__detail .btn__caskbottles a {
        border: 2px solid #ee368c;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        color: #ee368c;
        padding: 8px 15px;
        border-radius: 1em;
        background-color: #ffffff;
        letter-spacing: 0.1em; }
        .sec__caskbottles .caskbottles__content .caskbottles__detail .btn__caskbottles a:hover {
          background-color: #ee368c;
          color: #ffffff;
          transition: background-color 0.5s; }

.sec__membership {
  background-color: #f0f0f0; }
  .sec__membership .membership__content {
    text-align: center; }
    .sec__membership .membership__content h2 {
      font-size: 30px;
      font-weight: 700;
      color: #ee368c;
      text-transform: uppercase; }
      @media (max-width: 767px) {
        .sec__membership .membership__content h2 {
          font-size: 20px; } }
  .sec__membership .sec__slide--membership {
    margin-top: 2em; }
    .sec__membership .sec__slide--membership .swiper-button-next,
    .sec__membership .sec__slide--membership .swiper-button-prev {
      color: #ee368c;
      transform: translateY(150%);
      width: 45px;
      height: 45px;
      font-weight: 700; }
    .sec__membership .sec__slide--membership .swiper-container {
      text-align: center;
      margin-top: 2em; }
      .sec__membership .sec__slide--membership .swiper-container .swiper-pagination-bullet {
        background-color: #ee368c;
        width: 15px;
        height: 15px; }
    .sec__membership .sec__slide--membership .swiper__membership {
      overflow: hidden;
      position: relative;
      width: 50vw;
      margin: 0 auto; }
      .sec__membership .sec__slide--membership .swiper__membership .swiper-slide {
        height: auto; }
        .sec__membership .sec__slide--membership .swiper__membership .swiper-slide .membership__blk {
          border-radius: 15px; }
          .sec__membership .sec__slide--membership .swiper__membership .swiper-slide .membership__blk .card-header {
            box-shadow: none;
            padding: 1em 1em;
            text-align: center;
            display: block; }
            .sec__membership .sec__slide--membership .swiper__membership .swiper-slide .membership__blk .card-header p {
              text-transform: uppercase; }
            .sec__membership .sec__slide--membership .swiper__membership .swiper-slide .membership__blk .card-header h2 {
              font-size: 18px;
              font-weight: 700;
              color: #ee368c;
              text-transform: uppercase; }
              @media (max-width: 767px) {
                .sec__membership .sec__slide--membership .swiper__membership .swiper-slide .membership__blk .card-header h2 {
                  font-size: 15px; } }
          .sec__membership .sec__slide--membership .swiper__membership .swiper-slide .membership__blk .card-content {
            text-align: center; }
            .sec__membership .sec__slide--membership .swiper__membership .swiper-slide .membership__blk .card-content .content {
              text-align: center;
              position: relative;
              min-height: 150px; }
              .sec__membership .sec__slide--membership .swiper__membership .swiper-slide .membership__blk .card-content .content small {
                color: #8c8d8e; }
              .sec__membership .sec__slide--membership .swiper__membership .swiper-slide .membership__blk .card-content .content h3 {
                font-size: 18px;
                font-weight: bold;
                color: #ee368c;
                margin: 2.5em 0em; }
                @media (max-width: 767px) {
                  .sec__membership .sec__slide--membership .swiper__membership .swiper-slide .membership__blk .card-content .content h3 {
                    font-size: 15px; } }
            .sec__membership .sec__slide--membership .swiper__membership .swiper-slide .membership__blk .card-content .btn__membership a {
              border: 2px solid #ee368c;
              text-transform: uppercase;
              font-weight: 700;
              font-size: 13px;
              color: #ee368c;
              padding: 8px 15px;
              border-radius: 1em;
              background-color: #ffffff;
              letter-spacing: 0.1em;
              background-color: #ee368c;
              color: #ffffff;
              padding: 8px 40px; }
              .sec__membership .sec__slide--membership .swiper__membership .swiper-slide .membership__blk .card-content .btn__membership a:hover {
                background-color: #ee368c;
                color: #ffffff;
                transition: background-color 0.5s; }
              .sec__membership .sec__slide--membership .swiper__membership .swiper-slide .membership__blk .card-content .btn__membership a:hover {
                background-color: #ffffff;
                color: #ee368c; }
    @media (max-width: 1023px) {
      .sec__membership .sec__slide--membership .swiper-button-next,
      .sec__membership .sec__slide--membership .swiper-button-prev {
        display: none; }
      .sec__membership .sec__slide--membership .swiper__membership {
        width: 100%; }
        .sec__membership .sec__slide--membership .swiper__membership .swiper-slide .membership__blk .card-content .btn__membership a {
          padding: 8px 15px; } }

.sec__seenin .seenin__title {
  text-align: center; }
  .sec__seenin .seenin__title h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ee368c;
    border-bottom: 2px solid #ee368c;
    line-height: 0.1em;
    margin: 10px 0 10px 0; }
    @media (max-width: 767px) {
      .sec__seenin .seenin__title h2 {
        font-size: 20px; } }
    .sec__seenin .seenin__title h2 span {
      background: #ffffff;
      padding: 0 10px; }

.sec__seenin .blk__seein {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  .sec__seenin .blk__seein .badge__icon {
    width: 10%;
    margin: 1em 1em;
    text-align: center; }
    .sec__seenin .blk__seein .badge__icon img {
      max-height: 50px; }
  @media (max-width: 767px) {
    .sec__seenin .blk__seein .badge__icon {
      width: 20%; }
      .sec__seenin .blk__seein .badge__icon img {
        max-height: 30px; } }

.sec__howitworks--slide {
  background-color: #000000;
  padding-top: 8em; }
  .sec__howitworks--slide .swiper-button-next, .sec__howitworks--slide .swiper-button-prev {
    color: #ee368c;
    width: 45px;
    height: 45px;
    font-weight: 700; }
  .sec__howitworks--slide .swiper-container {
    text-align: center;
    margin-top: 2em; }
    .sec__howitworks--slide .swiper-container .swiper-pagination-bullet {
      background-color: #ee368c;
      width: 15px;
      height: 15px; }
  .sec__howitworks--slide .swiper__howitworks {
    width: 80vw;
    margin: 0 auto;
    overflow: hidden;
    position: relative; }
    .sec__howitworks--slide .swiper__howitworks .slide__howitworks .ele__content {
      text-align: center; }
      .sec__howitworks--slide .swiper__howitworks .slide__howitworks .ele__content p {
        color: #ffffff; }
    .sec__howitworks--slide .swiper__howitworks .slide__howitworks .ele__image {
      margin-top: 2em;
      text-align: center; }
  @media (max-width: 767px) {
    .sec__howitworks--slide .swiper-button-next, .sec__howitworks--slide .swiper-button-prev {
      display: none; } }

.sec__caskfractions {
  background-color: #f0f0f0; }
  .sec__caskfractions .blk__caskfractions {
    background-color: #ffffff;
    border-radius: 20px; }
    .sec__caskfractions .blk__caskfractions .ele__caskfractions {
      text-align: center; }
      .sec__caskfractions .blk__caskfractions .ele__caskfractions h1, .sec__caskfractions .blk__caskfractions .ele__caskfractions h2 {
        font-size: 30px;
        font-weight: 700;
        color: #ee368c;
        text-transform: uppercase; }
        @media (max-width: 767px) {
          .sec__caskfractions .blk__caskfractions .ele__caskfractions h1, .sec__caskfractions .blk__caskfractions .ele__caskfractions h2 {
            font-size: 20px; } }
      .sec__caskfractions .blk__caskfractions .ele__caskfractions h3 {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 3em;
        color: #ee368c; }
        @media (max-width: 767px) {
          .sec__caskfractions .blk__caskfractions .ele__caskfractions h3 {
            font-size: 15px; } }
      .sec__caskfractions .blk__caskfractions .ele__caskfractions h4 {
        font-size: 30px;
        font-weight: 700;
        color: #ee368c;
        margin-top: 2em; }
        @media (max-width: 767px) {
          .sec__caskfractions .blk__caskfractions .ele__caskfractions h4 {
            font-size: 20px; } }
      .sec__caskfractions .blk__caskfractions .ele__caskfractions p {
        margin: 1em 0; }
        .sec__caskfractions .blk__caskfractions .ele__caskfractions p b {
          color: #ee368c; }
      .sec__caskfractions .blk__caskfractions .ele__caskfractions hr {
        background-color: #ee368c; }
      .sec__caskfractions .blk__caskfractions .ele__caskfractions .btn__caskfractions {
        margin: 3em 0; }
        .sec__caskfractions .blk__caskfractions .ele__caskfractions .btn__caskfractions a {
          border: 2px solid #ee368c;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 13px;
          color: #ee368c;
          padding: 8px 15px;
          border-radius: 1em;
          background-color: #ffffff;
          letter-spacing: 0.1em;
          background-color: #ee368c;
          color: #ffffff; }
          .sec__caskfractions .blk__caskfractions .ele__caskfractions .btn__caskfractions a:hover {
            background-color: #ee368c;
            color: #ffffff;
            transition: background-color 0.5s; }
          .sec__caskfractions .blk__caskfractions .ele__caskfractions .btn__caskfractions a:hover {
            background-color: #ffffff;
            color: #ee368c; }
      .sec__caskfractions .blk__caskfractions .ele__caskfractions .txt__note {
        margin-top: 2em;
        color: #ee368c; }
        .sec__caskfractions .blk__caskfractions .ele__caskfractions .txt__note strong {
          color: #ee368c;
          text-decoration: underline; }
        .sec__caskfractions .blk__caskfractions .ele__caskfractions .txt__note p {
          margin: 0; }
      .sec__caskfractions .blk__caskfractions .ele__caskfractions .caskfractions__quote {
        margin-top: 2em; }
        .sec__caskfractions .blk__caskfractions .ele__caskfractions .caskfractions__quote ::before, .sec__caskfractions .blk__caskfractions .ele__caskfractions .caskfractions__quote ::after {
          content: '"';
          font-size: 30px;
          font-weight: 700; }
          @media (max-width: 767px) {
            .sec__caskfractions .blk__caskfractions .ele__caskfractions .caskfractions__quote ::before, .sec__caskfractions .blk__caskfractions .ele__caskfractions .caskfractions__quote ::after {
              font-size: 20px; } }
        .sec__caskfractions .blk__caskfractions .ele__caskfractions .caskfractions__quote blockquote {
          font-weight: 700;
          text-transform: uppercase;
          font-size: 18px;
          line-height: 30px;
          letter-spacing: 1px; }
          @media (max-width: 767px) {
            .sec__caskfractions .blk__caskfractions .ele__caskfractions .caskfractions__quote blockquote {
              font-size: 15px; } }
      .sec__caskfractions .blk__caskfractions .ele__caskfractions .caskfractions__questions {
        margin: 0;
        text-align: left;
        position: relative; }
        .sec__caskfractions .blk__caskfractions .ele__caskfractions .caskfractions__questions h3 {
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase; }
          @media (max-width: 767px) {
            .sec__caskfractions .blk__caskfractions .ele__caskfractions .caskfractions__questions h3 {
              font-size: 15px; } }
          .sec__caskfractions .blk__caskfractions .ele__caskfractions .caskfractions__questions h3 span {
            font-size: 30px;
            color: #ee368c; }
            @media (max-width: 767px) {
              .sec__caskfractions .blk__caskfractions .ele__caskfractions .caskfractions__questions h3 span {
                font-size: 20px; } }
        .sec__caskfractions .blk__caskfractions .ele__caskfractions .caskfractions__questions p {
          color: #8c8d8e;
          height: 65%; }
        .sec__caskfractions .blk__caskfractions .ele__caskfractions .caskfractions__questions .hidden__pc {
          display: none; }
      .sec__caskfractions .blk__caskfractions .ele__caskfractions .content__purchase {
        text-align: left; }
        .sec__caskfractions .blk__caskfractions .ele__caskfractions .content__purchase ol {
          margin-left: 2em;
          line-height: 2em; }
        .sec__caskfractions .blk__caskfractions .ele__caskfractions .content__purchase ul {
          margin-left: 2em;
          line-height: 2em;
          list-style-type: disc; }
  @media (max-width: 767px) {
    .sec__caskfractions .blk__caskfractions .ele__caskfractions p {
      text-align: left;
      text-indent: 1em; }
    .sec__caskfractions .blk__caskfractions .ele__caskfractions .caskfractions__questions .hidden__pc {
      display: block; }
    .sec__caskfractions .blk__caskfractions .ele__caskfractions .caskfractions__questions p {
      height: auto; } }

.sec__aboutus--header {
  padding: 20em 0em;
  background-image: url("/assets/img/bg-about-us.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; }
  .sec__aboutus--header .blk__header {
    text-align: center; }
    .sec__aboutus--header .blk__header h1 {
      font-size: 60px;
      font-weight: 700;
      color: #ee368c;
      letter-spacing: 1px; }
      @media (max-width: 767px) {
        .sec__aboutus--header .blk__header h1 {
          font-size: 40px; } }
    .sec__aboutus--header .blk__header h2 {
      font-size: 30px;
      color: #000000;
      letter-spacing: 5px;
      font-weight: 400;
      margin-top: 1em; }
      @media (max-width: 767px) {
        .sec__aboutus--header .blk__header h2 {
          font-size: 20px; } }
  @media (max-width: 767px) {
    .sec__aboutus--header {
      padding: 10em 0; }
      .sec__aboutus--header .blk__header h2 {
        letter-spacing: 0px; } }

.sec__aboutus--content {
  margin-top: -15em; }
  .sec__aboutus--content .card {
    border-radius: 50px; }
    .sec__aboutus--content .card .card-header {
      box-shadow: none;
      background-color: #ee368c;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px; }
      .sec__aboutus--content .card .card-header .header__content {
        width: 100%;
        text-align: center;
        padding: 3em 15em; }
        .sec__aboutus--content .card .card-header .header__content h2 {
          font-size: 30px;
          color: #ffffff; }
          @media (max-width: 767px) {
            .sec__aboutus--content .card .card-header .header__content h2 {
              font-size: 20px; } }
        .sec__aboutus--content .card .card-header .header__content p {
          margin-top: 4em;
          color: #ffffff;
          font-weight: 700; }
    .sec__aboutus--content .card .card-content {
      padding: 5em 10em; }
      .sec__aboutus--content .card .card-content .content {
        text-align: center; }
        .sec__aboutus--content .card .card-content .content h2 {
          font-size: 30px;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 1em;
          color: #ee368c;
          line-height: 1.5em; }
          @media (max-width: 767px) {
            .sec__aboutus--content .card .card-content .content h2 {
              font-size: 20px; } }
        .sec__aboutus--content .card .card-content .content h3 {
          font-size: 18px;
          font-weight: 700; }
          @media (max-width: 767px) {
            .sec__aboutus--content .card .card-content .content h3 {
              font-size: 15px; } }
        .sec__aboutus--content .card .card-content .content p {
          color: #000000;
          margin-bottom: 1em; }
        .sec__aboutus--content .card .card-content .content hr {
          margin: 4em 0;
          background-color: #ee368c; }
  @media (max-width: 1023px) {
    .sec__aboutus--content {
      margin-top: -10em; }
      .sec__aboutus--content .card .card-header .header__content {
        padding: 3em; }
      .sec__aboutus--content .card .card-content {
        padding: 3em; } }

.sec__form {
  background-color: #f0f0f0;
  padding-top: 10em;
  text-align: center; }
  .sec__form h1 {
    font-size: 30px;
    font-weight: 700;
    color: #ee368c;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .sec__form h1 {
        font-size: 20px; } }
  .sec__form h2 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .sec__form h2 {
        font-size: 15px; } }
    .sec__form h2 strong {
      color: #ee368c; }
  .sec__form form {
    margin-top: 3em; }
    .sec__form form .column {
      margin-bottom: 0em;
      padding-bottom: 0em; }
  .sec__form input,
  .sec__form textarea,
  .sec__form select {
    color: #000000;
    border: 1px solid #8c8d8e;
    border-radius: 10px; }
    .sec__form input::placeholder,
    .sec__form textarea::placeholder,
    .sec__form select::placeholder {
      letter-spacing: 2px;
      color: #8c8d8e; }
    .sec__form input:active, .sec__form input:focus,
    .sec__form textarea:active,
    .sec__form textarea:focus,
    .sec__form select:active,
    .sec__form select:focus {
      border-color: #ee368c; }
  .sec__form .select {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }
    .sec__form .select:not(.is-multiple):not(.is-loading)::after {
      border-color: #323232; }
  .sec__form button {
    border: 2px solid #ee368c;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #ee368c;
    padding: 8px 15px;
    border-radius: 1em;
    background-color: #ffffff;
    letter-spacing: 0.1em;
    margin: 1em 0;
    font-size: 18px;
    background-color: #ee368c;
    color: #ffffff;
    padding: 8px 30px; }
    .sec__form button:hover {
      background-color: #ee368c;
      color: #ffffff;
      transition: background-color 0.5s; }
    @media (max-width: 767px) {
      .sec__form button {
        font-size: 15px; } }
    .sec__form button:hover {
      background-color: #ffffff;
      color: #ee368c;
      border-color: #ee368c; }
  .sec__form hr {
    background-color: #ee368c;
    height: 1px;
    width: 90%;
    margin: 2em auto; }
  .sec__form .ele__txt--detail {
    margin: 1em auto;
    max-width: 600px; }
  .sec__form .ele__logo {
    margin-bottom: 4em; }
    .sec__form .ele__logo img {
      width: 250px; }
  .sec__form .ele__txt--form {
    text-align: left; }
  .sec__form .table-container {
    border-radius: 20px; }
    .sec__form .table-container table th, .sec__form .table-container table td {
      vertical-align: middle; }
      .sec__form .table-container table th button, .sec__form .table-container table td button {
        font-size: 11px;
        padding: 5px 10px; }
        .sec__form .table-container table th button:hover, .sec__form .table-container table td button:hover {
          cursor: pointer; }
  .sec__form .ele__btn .btn__update {
    margin-bottom: 0px; }
    .sec__form .ele__btn .btn__update button {
      margin: 10px; }
  .sec__form .ele__btn .btn__cancle {
    margin-bottom: 0px; }
    .sec__form .ele__btn .btn__cancle button {
      margin: 10px;
      background-color: #8c8d8e;
      border-color: #8c8d8e; }
      .sec__form .ele__btn .btn__cancle button:hover {
        background-color: #323232;
        border-color: #323232;
        color: #ffffff; }
  .sec__form .upload__file {
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px; }
    .sec__form .upload__file .file-name {
      color: #8c8d8e; }
    .sec__form .upload__file .file-cta {
      background-color: #ee368c;
      color: #ffffff; }
  @media (max-width: 767px) {
    .sec__form .table-container {
      border-radius: 20px; }
      .sec__form .table-container table {
        width: 500px; } }

.sec__content {
  background-color: #f0f0f0;
  padding-top: 8em; }
  .sec__content .container {
    background-color: #ffffff;
    border-radius: 30px; }
    .sec__content .container h2 {
      font-size: 30px;
      font-weight: 700;
      color: #ee368c;
      text-align: center;
      margin-top: 1em; }
      @media (max-width: 767px) {
        .sec__content .container h2 {
          font-size: 20px; } }
    .sec__content .container h3 {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase; }
      @media (max-width: 767px) {
        .sec__content .container h3 {
          font-size: 15px; } }
    .sec__content .container hr {
      background-color: #ee368c;
      height: 1px;
      width: 90%;
      margin: 2em auto; }
    .sec__content .container a {
      display: block; }

.sec__information {
  padding-top: 8em;
  background-color: #f0f0f0; }
  .sec__information .blk__information {
    background-color: #ffffff;
    border-radius: 20px; }
    .sec__information .blk__information .ele__information h1 {
      font-size: 30px;
      font-weight: 700;
      color: #ee368c;
      text-transform: uppercase;
      text-align: center; }
      @media (max-width: 767px) {
        .sec__information .blk__information .ele__information h1 {
          font-size: 20px; } }
    .sec__information .blk__information .ele__information h2 {
      font-size: 18px;
      font-weight: 700;
      color: #ee368c; }
      @media (max-width: 767px) {
        .sec__information .blk__information .ele__information h2 {
          font-size: 15px; } }
    .sec__information .blk__information .ele__information h3 {
      text-align: center;
      color: #ee368c; }
    .sec__information .blk__information .ele__information p strong {
      font-weight: 700;
      color: #ee368c; }
    .sec__information .blk__information .ele__information hr {
      background-color: #ee368c;
      height: 1px;
      margin: 3em; }
    .sec__information .blk__information .ele__information ol, .sec__information .blk__information .ele__information ul {
      margin-left: 2em; }
      .sec__information .blk__information .ele__information ol strong, .sec__information .blk__information .ele__information ul strong {
        color: #ee368c; }
    .sec__information .blk__information .ele__information ul {
      list-style: disc; }
    .sec__information .blk__information .ele__information table thead tr th {
      text-align: center;
      vertical-align: middle; }
    .sec__information .blk__information .ele__information table tbody tr td {
      vertical-align: middle; }

.sec__bannershop {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
  padding-bottom: 10px; }
  .sec__bannershop .list_shoplink {
    height: 30vh;
    position: relative; }
    .sec__bannershop .list_shoplink .shop__link {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center; }
      .sec__bannershop .list_shoplink .shop__link a {
        padding: 0 20px;
        color: #ffffff;
        font-weight: 400; }
        .sec__bannershop .list_shoplink .shop__link a:hover {
          text-decoration: underline; }
  @media (max-width: 767px) {
    .sec__bannershop .list_shoplink .shop__link {
      transform: translate(-50%, -10%); }
      .sec__bannershop .list_shoplink .shop__link a {
        display: block;
        margin: 10px 0; } }

.sec__product .product__header h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ee368c; }
  @media (max-width: 767px) {
    .sec__product .product__header h2 {
      font-size: 20px; } }

.sec__product .product__header hr {
  background-color: #ee368c;
  height: 1px; }

.sec__product .colums__product {
  display: flex; }
  .sec__product .colums__product .column {
    display: flex;
    flex-direction: column; }
    .sec__product .colums__product .column .product__img img {
      transform: scale(1);
      transition: transform 0.3s; }
    .sec__product .colums__product .column .product__img:hover img {
      transform: scale(1.03); }
    .sec__product .colums__product .column .product__content {
      height: 100%;
      text-align: center; }
      .sec__product .colums__product .column .product__content p {
        font-size: 18px;
        font-weight: 700; }
        @media (max-width: 767px) {
          .sec__product .colums__product .column .product__content p {
            font-size: 15px; } }
    .sec__product .colums__product .column .product__footer {
      text-align: center; }
      .sec__product .colums__product .column .product__footer p {
        font-size: 18px;
        display: inline-block;
        color: #ee368c;
        font-weight: 700; }
        @media (max-width: 767px) {
          .sec__product .colums__product .column .product__footer p {
            font-size: 15px; } }
      .sec__product .colums__product .column .product__footer a {
        border: 2px solid #ee368c;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        color: #ee368c;
        padding: 8px 15px;
        border-radius: 1em;
        background-color: #ffffff;
        letter-spacing: 0.1em;
        display: inline-block;
        margin-left: 1em;
        background-color: #ee368c;
        color: #ffffff; }
        .sec__product .colums__product .column .product__footer a:hover {
          background-color: #ee368c;
          color: #ffffff;
          transition: background-color 0.5s; }
        .sec__product .colums__product .column .product__footer a:hover {
          background-color: #ffffff;
          color: #ee368c; }
      @media (max-width: 767px) {
        .sec__product .colums__product .column .product__footer p, .sec__product .colums__product .column .product__footer a {
          display: block; }
        .sec__product .colums__product .column .product__footer a {
          font-size: 10px;
          margin: 0em; } }

.sec__product--detail {
  position: relative;
  padding-top: 9em; }
  .sec__product--detail .detail__header {
    text-align: center; }
    .sec__product--detail .detail__header h1 {
      font-size: 30px;
      font-weight: 700;
      color: #ee368c; }
      @media (max-width: 767px) {
        .sec__product--detail .detail__header h1 {
          font-size: 20px; } }
    .sec__product--detail .detail__header h3 {
      font-size: 18px;
      margin-top: 1em;
      color: #ee368c; }
      @media (max-width: 767px) {
        .sec__product--detail .detail__header h3 {
          font-size: 15px; } }
  .sec__product--detail .swiper__product {
    overflow: hidden;
    position: relative;
    margin: 0 auto; }
    .sec__product--detail .swiper__product figure {
      max-width: 500px;
      margin: 0 auto; }
  .sec__product--detail .swiper-button-next,
  .sec__product--detail .swiper-button-prev {
    color: #ee368c;
    transform: translateY(150%);
    width: 45px;
    height: 45px;
    font-weight: 700; }
    @media (max-width: 1023px) {
      .sec__product--detail .swiper-button-next,
      .sec__product--detail .swiper-button-prev {
        display: none; } }
  .sec__product--detail .sec__slide--product {
    position: relative; }
  .sec__product--detail .swiper-button-next {
    right: 10em; }
  .sec__product--detail .swiper-button-prev {
    left: 10em; }
  .sec__product--detail .swiper-container {
    text-align: center;
    margin-top: 2em; }
    .sec__product--detail .swiper-container .swiper-pagination-bullet {
      background-color: #ee368c;
      width: 15px;
      height: 15px; }
  .sec__product--detail .col__product--detail {
    width: 50vw;
    margin: 0 auto; }
    @media (max-width: 1023px) {
      .sec__product--detail .col__product--detail {
        width: auto; } }
  .sec__product--detail .detail__blk {
    text-align: center; }
    .sec__product--detail .detail__blk p {
      font-size: 18px; }
      @media (max-width: 767px) {
        .sec__product--detail .detail__blk p {
          font-size: 15px; } }
  .sec__product--detail .btn__addtocart {
    text-align: center; }
    .sec__product--detail .btn__addtocart button {
      border: 2px solid #ee368c;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
      color: #ee368c;
      padding: 8px 15px;
      border-radius: 1em;
      background-color: #ffffff;
      letter-spacing: 0.1em;
      font-size: 18px;
      background-color: #ee368c;
      color: #ffffff; }
      .sec__product--detail .btn__addtocart button:hover {
        background-color: #ee368c;
        color: #ffffff;
        transition: background-color 0.5s; }
      @media (max-width: 767px) {
        .sec__product--detail .btn__addtocart button {
          font-size: 15px; } }
      .sec__product--detail .btn__addtocart button:hover {
        background-color: #ffffff;
        color: #ee368c; }
  .sec__product--detail .txt__product--detail {
    padding-top: 5em; }
    .sec__product--detail .txt__product--detail h2 {
      text-align: center;
      font-size: 30px;
      font-weight: 700; }
      @media (max-width: 767px) {
        .sec__product--detail .txt__product--detail h2 {
          font-size: 20px; } }
    .sec__product--detail .txt__product--detail ul {
      margin-left: 2em;
      list-style-type: disc; }
      .sec__product--detail .txt__product--detail ul li {
        line-height: 2em; }

/*# sourceMappingURL=style.css.map */
